.section {
  background-color: var(--white);
  overflow: hidden;
  padding-top: 48px;
  padding-bottom: 52px;
}

.container {
  display: flex;
  gap: 64px;
  width: 100%;
  height: 100%;
  padding-right: 64px;
  padding-left: 64px;
  flex: 1;
  overflow: hidden;
}

.sideBarWrapper {
  position: fixed;
}


.catalogWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;

  margin-left: 424px;
  width: 888px;
}