.btn {
  width: 24px;
  height: 24px;
  border: none;
  padding: 0;
  background-color: transparent;
}

.iconBase {
  /* stroke: var(--main); */
  fill: var(--main);
  transition: fill 300ms linear;
}

.iconFavourite {
  /* stroke: var(--button); */
  fill: var(--button);
}