.container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.reviewerWrapper {
  display: flex;
  gap: 16px;
}

.reviewsLogo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  border-radius: 60px;
  background-color: var(--badges);
}

.reviewsLogo span {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  color: var(--button);
}

.reviewerName_Rat {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.reviewerName {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--main);
}

.text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: var(--text);
}